.fitur {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fitur button {
  padding: 7px 15px;
  cursor: pointer;
  background-color: #798bab;
  color: white;
  text-transform: uppercase;
  border-color: #273a5e;
  border-radius: 5px;
  margin: 15px 0;
}

@media screen and (min-width: 900px) {
  .fitur {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0;
  }
}
