* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    border: 1px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form h1 {
    font-size: 2rem;
}

label,
input {
    display: block;
}

label {
    font-size: 1.1rem;
    margin: 20px 0 5px 0;
}

input {
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

button {
    align-self: center;
    margin-top: 25px;
    width: 150px;
    height: 40px;
    background-color: #46db91;
    border-color: #36a86f;
    border-radius: 20px;
    color: white;
    outline: none;
}
