* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td,
th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #b4d4ff;
}
