* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    border: 1px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

div {
    width: 100%;
    margin-top: 20px;
}

.angka {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    place-items: center;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

button {
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    background-color: #46db91;
    border-color: #36a86f;
    border-radius: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}
