* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    border: 1px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

p {
    font-size: 1.5 rem;
    margin-top: 10px;
}
