.card-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  color: #454f61;
  border: 1px solid #454f61;
}

.card-create h1 {
  font-size: 1.5rem;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

form label {
  margin: 15px 0 5px 0;
}

form input {
  padding: 5px 10px;
  outline: none;
}

form .btn-wrapper {
  align-self: center;
  margin-top: 20px;
}

form .btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #798bab;
  color: white;
  border-color: #273a5e;
  border-radius: 5px;
}
