.daerah {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.daerah button {
  padding: 7px 15px;
  cursor: pointer;
  background-color: #798bab;
  color: white;
  text-transform: uppercase;
  border-color: #273a5e;
  border-radius: 5px;
}
