/* td .btn {
  border: none;
} */
td .btn-details {
  background-color: #fac722;
  border-color: #e39e14;
}

td .btn-details:hover {
  background-color: white;
  color: #e39e14;
}

td .btn-delete {
  background-color: #c41f16;
  border-color: #911610;
}

td .btn-delete:hover {
  background-color: white;
  color: #911610;
}

td .btn-edit {
  background-color: #58a7c4;
  border-color: #417c91;
  margin-right: 5px;
}

td .btn-edit:hover {
  background-color: white;
  color: #417c91;
}
