.daerah-card,
.film-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  border-radius: 5px;
  color: #454f61;
}

.film-card {
  align-items: center;
}

.daerah-card h1,
.film-card h1 {
  font-size: 1.5rem;
  align-self: center;
}

table {
  border-collapse: collapse;
  margin: 20px 0 20px 0;
}

td,
th {
  border: 1px solid #454f61;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

th {
  background-color: #b0caf7;
  text-transform: uppercase;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #798bab;
  color: white;
  border-color: #273a5e;
  border-radius: 5px;
}

.btn-wrapper {
  align-self: center;
}

.btn-add {
  margin-right: 10px;
}

.btn-penonton {
  margin-left: 10px;
}

.btn-wrapper .btn:hover {
  background-color: white;
  color: #798bab;
}
